@{
    ViewData["Title"] = "Monthly View";
    ViewData["CSS"] = "monthly.css";
}

<!-- GOALS -->
<div class="item main-content">
    <div class="day1 day-structure">
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="neutral-day"></button>
        <button class="good-day"></button>
    </div>
    <div class="day2 day-structure">
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="neutral-day"></button>
    </div>
    <div class="day3 day-structure">
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="neutral-day"></button>
    </div>
    <div class="day4 day-structure">
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="neutral-day"></button>
        <button class="good-day"></button>
    </div>
    <div class="day5 day-structure">
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
    </div>
    <div class="day6 day-structure">
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="neutral-day"></button>
        <button class="good-day"></button>
    </div>
    <div class="day7 day-structure">
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="bad-day"></button>
        <button class="good-day"></button>
        <button class="good-day"></button>
        <button class="neutral-day"></button>
        <button class="good-day"></button>
    </div>
    <div class="comment-button">
        <a>
            <img src="~/img/comment-logo.png"/>
        </a>
    </div>
</div>
<!-- /GOALS -->