@{
    ViewData["Title"] = "Daily Goals";
    ViewData["CSS"] = "main.css";
}

<!-- GOALS -->
    <div class="content-container">

        <section class="content-goals">
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
            <div class="goal">
                <img src="~/img/tick-logo.png" alt="">
                <input action="" method="get">
            </div>
        </section>
        <!-- /GOALS -->
        <!-- EMOTIONS -->
        <section class="content-emotions">
            <div class="item emotions">
                <button class="good"></button>
                <button class="bad"></button>
                <button class="neutral"></button>
            </div>
        </section>

    </div>
<!-- /EMOTIONS -->
